input{
    margin: 10px ;
    padding: 12px;
    width: 80%;
    border-radius: 10px;
    height: 20px;
}
form{
    padding: 10px 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
    width:auto ;
}
form > button {
    margin-top: 20px;
}
div.opti{
    margin-top: 20px;
    border-radius: 10px;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    margin-right: 20px;
}
input[type="color"] {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px; /* Dodanie obramowania */
    cursor: pointer;
}
div.colorConfig{
    margin-top: 20px;
    border-radius: 10px;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    margin-right: 20px;
}
