
.cube{
    transform-origin: center center center;
    transform-style: preserve-3d;
    transition: transform 0.01s ease-out;

    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
}

.cube-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    cursor: grab;
    border-radius: 20px;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
}

.cube-wrapper:active {
    cursor: grabbing;
}

figure{
    display: block;
    position: absolute;
    -webkit-transform-origin: center center center;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

.subCube {
    -webkit-transform-style: preserve-3d;
    position:relative;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
    }
}