
.cube{
    transform-style: preserve-3d;
    transform-origin: center center ;
    transition: transform 0.01s ease-out;
    
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
    
}

.cube-wrapper {
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: grab;
    border-radius: 20px;
    border-color: blueviolet;
    border-width: 2px;
    border-style: solid;
}

.cube-wrapper:active {
    cursor: grabbing;
    touch-action: none;
}

div.figure{
    position: absolute;
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    transform-origin: center center center;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

.subCube {
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: center center center ;
    
    border-color: red;
    border-width: 2px;
    border-style: solid;
    
}
@keyframes rotate {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}
